

  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
    background-color: rgb(103, 96, 96);
    background-image: url(" ../images/bg.webp");
}

h1,h2,h3,p {
    color: white;
}
h1,h2,h3{
    font-weight: 800;
    font-family: 'Monoton', cursive;
}


h1 {
    font-size: clamp(35px, 4vw, 80px);
}

h2{
    font-size: clamp(30px, 4vw, 50px);
} 

/* h3{
    font-size: clamp(25px, 4vw, 35px);
    text-align: center;
} */

main, section, footer {
   
    width: 85%;
    margin: 0 auto;
}

p{
    font-size: clamp(17px, 4vw, 23px);
    font-family: 'Space Mono', monospace;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.container figure img {
    transition: transform .5s ease-in-out;
}

section.container figure img:hover {
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 30px white);
}

footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }

    section.container div {
        width: 100%;
        margin-bottom: 130px;
    }

    section.container figure img:hover{
        transform: scale(1);
    }
}

.flex-container figure summary {
    cursor: pointer;
}

